@layout RootLayout
@inherits LayoutComponentBase

<Layout>
    <LayoutHeader Fixed="true">
        <Bar Style="height: 64px;"
             Breakpoint="Breakpoint.Desktop">
            <BarBrand>
                <div class="logo-wrap">
                    <a href="">
                        <span>TeleMetri</span>
                    </a>
                </div>
            </BarBrand>
            <BarBrand>
                <Icon Name="@("fa fa-bars")" @onclick="ToggleNavMenu" />
            </BarBrand>
        </Bar>
    </LayoutHeader>
    <div class="row">
        <div class="col-sm-2 col-lg-2 col-md-2 col-xs-2 @NavMenuCssClass" id="navbarToggleExternalContent"  >
            <LayoutSider>
                <LayoutSiderContent>
                    <NavMenu />
                </LayoutSiderContent>
            </LayoutSider>
        </div>
        <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10">
            <LayoutContent Padding="Padding.Is4.OnX">
                @Body
            </LayoutContent>
        </div>
    </div>
</Layout>
@code{
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}